<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <!-- 로그 포맷 -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5level [%15.15t] [%X{request_id}] %-40.40logger{39} : %m%n%wEx"/>


    <!-- 슬랙 에러 메시지 알림
         SLACK_WEBHOOK_URI: 슬랙앱으로 추가한 incoming webhook uri
         SLACK_USERNAME: 슬랙 메시지를 보낼 때 표시될 사용자 이름
         SLACK_DEFAULT_MESSAGE: 기본으로 표시될 메시지
         SLACK_USER_MENTIONS: 채널에서 언급할 사용자들
         SLACK_MESSAGE_PATTERN: 전송될 메시지 포맷
    -->
    <springProperty name="SLACK_WEBHOOK_URI" source="logging.slack.webhook-uri"/>
    <springProperty name="SLACK_USERNAME" source="logging.slack.username"/>
    <springProperty name="SLACK_DEFAULT_MESSAGE" source="logging.slack.messages"/>
    <springProperty name="SLACK_USER_MENTIONS" source="logging.slack.mentions"/>
    <property name="SLACK_MESSAGE_PATTERN" value="${SLACK_DEFAULT_MESSAGE}\n${SLACK_USER_MENTIONS}\n${LOG_PATTERN}"/>

    <!-- 콘솔에 로그 출력 -->
    <appender name="THREAD_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 파일에 로그 출력 -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!-- 로그 저장 폴더 위치 -->
        <file>./infrastructure/monitoring/logs/application.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 매일 새로운 로그 파일 생성 -->
            <fileNamePattern>./infrastructure/monitoring/logs/application-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 로그 파일 최대 보관 기간 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

<!--    <appender name="SLACK" class="com.github.maricn.logback.SlackAppender">-->
<!--        <webhookUri>${SLACK_WEBHOOK_URI}</webhookUri>-->
<!--        <layout class="ch.qos.logback.classic.PatternLayout">-->
<!--            <pattern>${SLACK_MESSAGE_PATTERN}</pattern>-->
<!--        </layout>-->
<!--        <username>${SLACK_USERNAME}</username>-->
<!--    </appender>-->

    <appender name="ASYNC_SLACK" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SLACK"/>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="FILE"/>
            <appender-ref ref="THREAD_CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="THREAD_CONSOLE"/>
            <appender-ref ref="ASYNC_SLACK"/>
        </root>
    </springProfile>


    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="THREAD_CONSOLE"/>
        </root>
    </springProfile>
</configuration>
