[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqld]
local_infile=1
default-authentication-plugin=mysql_native_password
default-time-zone='Asia/Seoul'
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

[mysqldump]
default-character-set=utf8mb4